<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/formStyle.css}">
<head>
    <title>Edit Department</title>
    <link rel="icon" th:href="@{/css/images/d.png}">
</head>
<body>

<h1>Edit Department</h1>

<div class="main">
    <div th:if="${errorMessage}" style="color: red; margin-bottom: 10px;">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{'/department/' + ${department.id} + '/update-department'}" method="post" th:object="${department}">

        <label>ID:</label>
        <input name="id" type="text" th:value="${department.id}" readonly/>
        <br/>

        <label>Name:</label>
        <input name="name" type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
        <br/>

        <label>University ID:</label>
        <input type="text"
               th:field="*{university.id}"
               placeholder="Enter University ID">
        <span th:if="${#fields.hasErrors('university')}" th:errors="*{university}" style="color: red;"></span>
        <br/>

        <button type="submit">Save Changes</button>
    </form>

    <br>
    <a th:href="@{/department}">Back</a>
</div>

</body>
</html>