<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/formStyle.css}">
<head>
    <title>Add Course</title>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/css/images/c.png}">
</head>
<body>
<h1>Add New Course</h1>
<div class="main">
    <div th:if="${errorMessage}" style="color: red; margin-bottom: 10px;">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/course/add-course}" method="post" th:object="${course}">
        <label>ID:</label>
        <input type="text" th:field="*{id}">
        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="color: red;"></span>
        <br><br>

        <label>Title:</label>
        <input type="text" th:field="*{title}">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red;"></span>
        <br><br>

        <label>Credits:</label>
        <input type="text" th:field="*{credits}">
        <span th:if="${#fields.hasErrors('credits')}" th:errors="*{credits}" style="color: red;"></span>
        <br><br>

        <label>Duration:</label>
        <input type="text" th:field="*{duration}">
        <span th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}" style="color: red;"></span>
        <br><br>

        <label>Department ID:</label>
        <input type="text" th:field="*{department.id}" placeholder="Enter Department ID">
        <span th:if="${#fields.hasErrors('department')}" th:errors="*{department}" style="color: red;"></span>
        <br><br>

        <label>Room ID:</label>
        <input type="text" th:field="*{room.id}" placeholder="Enter Room ID">
        <span th:if="${#fields.hasErrors('room')}" th:errors="*{room}" style="color: red;"></span>
        <br><br>


        <button type="submit">Save</button>
    </form>

    <br>
    <a th:href="@{/course}">Back to Courses</a>
</div>
</body>

</html>
