<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/formStyle.css}">
<head>
    <title>Edit Course</title>
    <link rel="icon" th:href="@{/css/images/c.png}">
</head>
<body>

<h1>Edit Course</h1>
<div class="main">
    <div th:if="${errorMessage}" style="color: red; margin-bottom: 10px;">
        <p th:text="${errorMessage}"></p>
    </div>
    <form th:action="@{'/course/' + ${course.id} + '/update-course'}" method="post" th:object="${course}">

        <label>ID:</label>
        <input type="text" th:field="*{id}" readonly/>

        <br/>

        <label>DepartmentId:</label>
        <select th:field="*{department}" required>
            <option value="">-- Selectează Departamentul --</option>
            <option th:each="dept : ${allDepartments}" th:value="${dept.id}" th:text="${dept.name}" th:selected="${course.department != null AND dept.id == course.department.id}">

            </option>
        </select>
        <span th:if="${#fields.hasErrors('department')}" th:errors="*{department}" style="color: red;"></span>
        <br/>

        <label>RoomId:</label>
        <select th:field="*{room}" required>
            <option value="">-- Selectează Sala --</option>
            <option th:each="room : ${allRooms}" th:value="${room.id}" th:text="${room.name}" th:selected="${course.room != null AND room.id == course.room.id}">
            </option>
        </select>
        <span th:if="${#fields.hasErrors('room')}" th:errors="*{room}" style="color: red;"></span>
        <br/>


        <label>Title:</label>
        <input type="text" th:field="*{title}" required/>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red;"></span>
        <br/>

        <label>Credits:</label>
        <input type="text" th:field="*{credits}" required/>
        <span th:if="${#fields.hasErrors('credits')}" th:errors="*{credits}" style="color: red;"></span>
        <br/>


        <label>Duration:</label>
        <input type="text" th:field="*{duration}" required/>
        <span th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}" style="color: red;"></span>
        <br/>




        <button type="submit">Save Changes</button>
    </form>

    <a th:href="@{/course}">Back</a>
</div>
</body>
</html>