<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/indexStyle.css}">

<head>
    <title>Courses List</title>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/css/images/c.png}">
</head>
<body>
<div class="mainn">
    <a class="home" th:href="@{/mainIndex#container}">
        <img src="https://www.citypng.com/public/uploads/preview/house-line-white-icon-701751695034631kz76g1oajv.png">
    </a>
    <h2>
        Courses
    </h2>
</div>


<div class="main">
    <div class="filter-container">
        <form th:action="@{/course}" method="get">
            <input type="hidden" name="sortField" th:value="${sortField}" />
            <input type="hidden" name="sortDir" th:value="${sortDir}" />

            <label>Title:</label>
            <input type="text" name="title" th:value="${title}" placeholder="Filter by Title" />

            <label>Max Credits:</label>
            <input type="number" name="credits" th:value="${credits}" placeholder="Max Credits (e.g. 5)" />

            <button type="submit">Filter</button>
            <a th:href="@{/course}"><button type="button">Clear</button></a>
        </form>
    </div>
    <a th:href="@{/course/new}">Add New Course</a>
    <table>
        <thead>
        <tr>
            <th>
                <a th:href="@{'/course'(sortField='id', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'},title=${title},credits=${credits})}">
                    ID <span th:if="${sortField == 'id'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                </a>
            </th>
            <th>Title</th>
            <th>
                <a th:href="@{'/course'(sortField='credits', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'},title=${title},credits=${credits})}">
                    Credits <span th:if="${sortField == 'credits'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/course'(sortField='duration', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'})}">
                    Duration <span th:if="${sortField == 'duration'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                </a>
            </th>
            <th>Department</th>
            <th>Room</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${courses}">
            <td th:text="${c.id}">Id</td>
            <td th:text="${c.title}">Title</td>
            <td th:text="${c.credits}">Credits</td>
            <td th:text="${c.duration}">Duration</td>
            <td th:text="${c.department.name}">DepartmentName</td>
            <td th:text="${c.room.name}">RoomName</td>
            <td>
                <form th:action="@{'/course/' + ${c.id} + '/delete'}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <a th:href="@{'/course/' + ${c.id} + '/edit-course'}">
                    <button type="button">Edit</button>
                </a>
                <a th:href="@{'/course/' + ${c.id} + '/details'}">
                    <button type="button">Details</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>