<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/indexStyle.css}">

<head>
    <title>Universities</title>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/css/images/u.png}">

</head>
<body>
<div class="mainn">
    <a class="home" th:href="@{/mainIndex}">
        <img src="https://www.citypng.com/public/uploads/preview/house-line-white-icon-701751695034631kz76g1oajv.png">
    </a>
    <h2>
        Universities
    </h2>
</div>


<div class="main">
    <div class="filter-container">
        <form th:action="@{/university}" method="get">
            <input type="hidden" name="sortField" th:value="${sortField}" />
            <input type="hidden" name="sortDir" th:value="${sortDir}" />

            <label>Name:</label>
            <input type="text" name="name" th:value="${name}" placeholder="Filter by Name" />

            <label>City:</label>
            <input type="text" name="city" th:value="${city}" placeholder="Filter by City" />

            <button type="submit">Filter</button>
            <a th:href="@{/university}"><button type="button">Clear</button></a>
        </form>
    </div>

    <a th:href="@{/university/new}">Add New University</a>
    <table>
        <thead>
        <tr>
            <th>
                <a th:href="@{'/university'(sortField='id', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'},name=${name},city=${city})}">
                    ID <span th:if="${sortField == 'id'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/university'(sortField='name', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'},name=${name},city=${city})}">
                    Name <span th:if="${sortField == 'name'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                </a>
            </th>
            <th>City</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${universities}">
            <td th:text="${u.id}">Id</td>
            <td th:text="${u.name}">Name</td>
            <td th:text="${u.city}">City</td>
            <td>
                <form th:action="@{'/university/' + ${u.id} + '/delete'}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <a th:href="@{'/university/' + ${u.id} + '/edit-university'}">
                    <button type="button">Edit</button>
                </a>
                <a th:href="@{'/university/' + ${u.id} + '/details'}">
                    <button type="button">Details</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>