<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/indexStyle.css}">

<head>
    <title>Universities List</title>
    <meta charset="UTF-8">
</head>
<body>
<h1> Universities</h1>

<div class="main">
    <h2>Universities</h2>
    <a th:href="@{/university/new}">Add New University</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${universities}">
            <td th:text="${u.id}">Id</td>
            <td th:text="${u.name}">Name</td>
            <td th:text="${u.city}">City</td>
            <td>
                <form th:action="@{'/university/' + ${u.id} + '/delete'}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <a th:href="@{'/university/' + ${u.id} + '/edit-university'}">
                    <button type="button">Edit</button>
                </a>
                <a th:href="@{'/university/' + ${u.id} + '/details'}">
                    <button type="button">Details</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>