<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit University</title>
</head>
<body>

<h1>Edit University</h1>
<div class="main">
    <div th:if="${errorMessage}" style="color: red; margin-bottom: 10px;">
        <p th:text="${errorMessage}"></p>
    </div>
<form th:action="@{'/university/' + ${university.id} + '/update-university'}" method="post">

    <label>ID:</label>
    <input name="id" type="text" th:value="${university.id}" readonly/>

    <br/>

    <label>Name:</label>
    <input name="name" type="text" th:value="${university.name}" required/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
    <br/>

    <label>City:</label>
    <input name="city" type="text" th:value="${university.city}" required/>
    <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color: red;"></span>
    <br/>




    <button type="submit">Save Changes</button>
</form>

<a th:href="@{/university}">Back</a>
</div>
</body>
</html>
