<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit University</title>
</head>
<body>

<h1>Edit University</h1>

<form th:action="@{'/university/' + ${university.id} + '/update-university'}" method="post">

    <label>ID:</label>
    <input name="id" type="text" th:value="${university.id}" readonly/>

    <br/>

    <label>Name:</label>
    <input name="name" type="text" th:value="${university.name}" required/>

    <br/>

    <label>City:</label>
    <input name="city" type="text" th:value="${university.city}" required/>

    <br/>




    <button type="submit">Save Changes</button>
</form>

<a th:href="@{/university}">Back</a>

</body>
</html>
