<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" th:href="@{/css/mainStyle.css}">
<head>
    <meta charset="UTF-8">
    <title>UMS</title>
    <link rel="icon" th:href="@{/css/images/ums.png}">
</head>
<body>
<div id="welcome">
    <div class="gotoTable">
        <a href="#container">Explore!</a>
    </div>

    <div class="letters">
        <span class="u">U</span>
        <span class="m">M</span>
        <span class="s">S</span>
    </div>
    <div class="textField">

        <div class="card-content text">
            <h3>About</h3>
            This is an app for managing a university. It has standard functions like adding to a table, edit, delete and inspecting the object's details. We've also implemented relationships between entities so that the logic behind the entire program is well structured.
        </div>

        <div class="card-content desc">
            <h3>Design</h3>
            The program is mainly written in Java using SpringBoot and Thymeleaf. It has a standard MVC architecture letting the user see what's happening on a browser page. The styling is done using pure css and html.
        </div>

        <div class="card-content pic">
            <img th:src="@{/css/images/diag.png}">
        </div>

    </div>


</div>
<div id="container">
<div class="main">
    <h2>
    University Management System
</h2>
</div>

<div class="parent">
<a th:href="@{/university}">Universities</a>
<a th:href="@{/student}">Student</a>
<a th:href="@{/room}">Room</a>
<a th:href="@{/course}">Course</a>
<a th:href="@{/enrollment}">Enrollment</a>
<a th:href="@{/teachingassignment}">TA</a>
<a th:href="@{/department}">Department</a>
<a th:href="@{/teacher}">Teacher</a>
<a th:href="@{/assistant}">Assistant</a>
</div>
    <div class="gotoPres">
        <a href="#welcome">Back to Presentation</a>
    </div>
</div>

</body>
</html>