<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" th:href="@{/css/mainStyle.css}">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div class="main">
    <a th:href="@{/mainIndex}">
    <img src="https://icon-library.com/images/home-button-icon/home-button-icon-7.jpg">
    </a>
    <h2>
    University Management System
</h2>
</div>
<div class="parent">
<a th:href="@{/university}">Universities</a>
<a th:href="@{/student}">Student</a>
<a th:href="@{/room}">Room</a>
<a th:href="@{/course}">Course</a>
<a th:href="@{/enrollment}">Enrollment</a>
<a th:href="@{/teachingassignment}">TA</a>
<a th:href="@{/department}">Department</a>
<a th:href="@{/teacher}">Teacher</a>
<a th:href="@{/assistant}">Assistant</a>
</div>


</body>
</html>