<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/formStyle.css}">
<head>
    <title>Edit Student</title>
    <link rel="icon" th:href="@{/css/images/s.png}">
</head>
<body>

<h1>Edit Student</h1>
<div class="main">
    <div th:if="${errorMessage}" style="color: red; margin-bottom: 10px;">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{'/student/' + ${student.id} + '/update-student'}"
          th:object="${student}" method="post">

        <label>ID:</label>
        <input th:field="*{id}" readonly />
        <br/>

        <label>Name:</label>
        <input th:field="*{name}" />
        <span th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"
              style="color:red;"></span>

        <br/><br/>
        <button type="submit">Save Changes</button>
    </form>


<a th:href="@{/student}">Back</a>

</div>
</body>
</html>
