<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/formStyle.css}">
<head>
    <title>Add Student</title>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/css/images/s.png}">
</head>
<body>
<h1>Add New Student</h1>
<div class="main">
    <div th:if="${errorMessage}" style="color: red; margin-bottom: 10px;">
        <p th:text="${errorMessage}"></p>
    </div>
    <form th:action="@{/student/add-student}" method="post" th:object="${student}">
        <label>ID:</label>
        <input type="text" th:field="*{id}" required>
        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="color: red;"></span>
        <br><br>

        <label>Name:</label>
        <input type="text" th:field="*{name}" required>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
        <br><br>

        <button type="submit">Save Student</button>
    </form>

    <br>
    <a th:href="@{/student}">Back to Student</a>
</div>
</body>
</html>
