html{
    background-color: #e8baf5;
    font-family: 'Courier New', monospace;
    color: black;

}

.main{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    flex-direction: column;
    position: relative;
    padding-top: 100px;

}

h1 {
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    background-color: whitesmoke;
    margin: 0;
    position: fixed;
    top:0;
    left:0;
}

form{
    font-size: 18px;
    width:400px;
    height:300px;
    border: 1px solid black;
    padding:20px;
}

input{
    font-size: 18px;
    width:100px;
    padding:8px;

}
a{
    text-decoration: none;
    color:black;
    font-size:20px;
    border:2px solid black;
    margin-bottom: 20px;
}
a:hover{
    text-decoration:none;
    color:grey;

}



button{
    padding:8px;
    font-family: 'Courier New', monospace;
    font-size:18px;


}
button:hover{
    background:whitesmoke;
    cursor: pointer;


}