html{
    font-family: 'Courier New', monospace;
    scroll-behavior: smooth;
    overflow: hidden;

}
img{
    width: 40px;
    height: 40px;

}
#welcome{
    margin: 0;
    padding: 0;
    width:100%;
    height: 100vh;
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
}
#container{
    background-image:radial-gradient(circle at center,rgba(0,0,0,0.7),black);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.parent{
    width: 70%;
    color:whitesmoke;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
    border: 2px solid black;
    border-radius:30px;
    background-color:rgba(0, 0, 0, 0.2);
    height: 80vh;
    margin:auto;

}

.main{
    height:90px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color:whitesmoke;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex;

}

a{
    padding:20px;
    text-decoration: none;
    font-size: 20px;
    color:whitesmoke;
}
a:hover{
    cursor: pointer;
}

.parent:hover>*{
    opacity: 0.3;
}

.parent a:hover{
    opacity: 1;
    font-size: 40px;
    color: whitesmoke;
}

.gotoPres{
    position: relative;
    border:1px solid white;
    margin-bottom: 10px;
}
.gotoTable {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom:10%;
}

.letters{
    font-size: 20rem;
    display: inline-block;
    position: relative;
    animation: moveHeader 1.2s 1.5s forwards;
}
@keyframes slideInLeft {
    0%{
        transform: translateX(-100vw);
        opacity:0
    }
    70%{
        opacity:1;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slideInTop{
    0%{
        transform: translateY(-100vh);
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideInRight {
    0% {
        transform: translateX(100vw);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveHeader{
    0%{
        transform:translateY(0) scale(1);
    }
    100%{
        transform: translateY(-35vh) scale(0.4);
    }
}

.u {
    display: inline-block;
    animation: slideInLeft 1.2s  forwards;
    opacity: 0;
    color: white;
}

.m {
    display: inline-block;
    animation: slideInTop 1.2s  forwards;
    opacity: 0;
    margin: 0 5px;
    color: white;
}

.s {
    display: inline-block;
    animation: slideInRight 1.2s  forwards;
    opacity: 0;
    color: white;
}