html{
    font-family: 'Courier New', monospace;
    scroll-behavior: smooth;
    overflow: hidden;

}
img{
    width: 40px;
    height: 40px;

}
#welcome{
    width:100%;
    height: 100vh;
    background-color: red;
}
#container{
    background-image:radial-gradient(circle at center,rgba(0,0,0,0.7),black);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.parent{
    width: 70%;
    color:whitesmoke;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
    border: 2px solid black;
    border-radius:30px;
    background-color:rgba(0, 0, 0, 0.2);
    height: 80vh;
    margin:auto;

}

.main{
    height:90px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color:whitesmoke;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex;

}

a{
    padding:20px;
    text-decoration: none;
    font-size: 20px;
    color:whitesmoke;
}
a:hover{
    cursor: pointer;
}

.parent:hover>*{
    opacity: 0.3;
}

.parent a:hover{
    opacity: 1;
    font-size: 40px;
    color: whitesmoke;
}

.gotoPres{
    position: relative;
    border:1px solid white;
    margin-bottom: 10px;
}