<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/formStyle.css}">
<head>
    <title>Add Room</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Add New Room</h1>
<div class="main">
    <div th:if="${errorMessage}" style="color: red; margin-bottom: 10px;">
        <p th:text="${errorMessage}"></p>
    </div>
    <form th:action="@{/room/add-room}" method="post" th:object="${room}">
        <label>ID:</label>
        <input type="text" th:field="*{id}" required>
        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="color: red;"></span>
        <br><br>

        <label>Number:</label>
        <input type="text" th:field="*{number}" required>
        <span th:if="${#fields.hasErrors('number')}" th:errors="*{number}" style="color: red;"></span>
        <br><br>

        <label>Capacity:</label>
        <input type="text" th:field="*{capacity}" required>
        <span th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}" style="color: red;"></span>
        <br><br>

        <label>Name:</label>
        <input type="text" th:field="*{name}" required>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
        <br><br>

        <label>University:</label>
        <select th:field="*{university}" required>
            <option value="">-- Selectează Universitatea --</option>
            <option th:each="univ : ${allUniversities}" th:value="${univ.id}" th:text="${univ.name}">
            </option>
        </select>
        <span th:if="${#fields.hasErrors('university')}" th:errors="*{university}" style="color: red;"></span>
        <br><br>

        <button type="submit">Save Room</button>
    </form>

    <br>
    <a th:href="@{/room}">Back to Rooms</a>
</div>
</body>
</html>
