<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/indexStyle.css}">

<head>
    <title>Rooms List</title>
    <meta charset="UTF-8">
</head>
<body>
<div class="mainn">
    <a class="home" th:href="@{/mainIndex}">
        <img src="https://icon-library.com/images/home-button-icon/home-button-icon-7.jpg">
    </a>
    <h2>
        Rooms
    </h2>
</div>

<div class="main">
    <a th:href="@{/room/new}">Add New Room</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Number</th>
            <th>Capacity</th>
            <th>Name</th>
            <th>University</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r : ${rooms}">
            <td th:text="${r.id}">Id</td>
            <td th:text="${r.number}">Number</td>
            <td th:text="${r.capacity}">Capacity</td>
            <td th:text="${r.name}">Name</td>
            <td th:text="${r.university.name}">UniversityName</td>
            <td>
                <form th:action="@{'/room/' + ${r.id} + '/delete'}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <a th:href="@{'/room/' + ${r.id} + '/edit-room'}">
                    <button type="button">Edit</button>
                </a>
                <a th:href="@{'/room/' + ${r.id} + '/details'}">
                    <button type="button">Details</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>