<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/formStyle.css}">
<head>
    <title>Add Teacher</title>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/css/images/t.png}">
</head>
<body>
<h1>Add New Teacher</h1>
<div class="main">
    <div th:if="${errorMessage}" style="color: red; margin-bottom: 10px;">
        <p th:text="${errorMessage}"></p>
    </div>
    <form th:action="@{/teacher/add-teacher}" method="post" th:object="${teacher}">
        <label>ID:</label>
        <input type="text" th:field="*{id}" required>
        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="color: red;"></span>
        <br><br>

        <label>Name:</label>
        <input type="text" th:field="*{name}" required>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
        <br><br>

        <label>Title:</label>
        <input type="text" th:field="*{title}" required>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red;"></span>
        <br><br>

        <label>Department:</label>
        <select th:field="*{department}" required>
            <option value="">-- Selectează Departamentul --</option>
            <option th:each="dept : ${allDepartments}" th:value="${dept.id}" th:text="${dept.name}">
            </option>
        </select>
        <span th:if="${#fields.hasErrors('department')}" th:errors="*{department}" style="color: red;"></span>
        <br><br>

        <button type="submit">Save Teacher</button>
    </form>

    <br>
    <a th:href="@{/teacher}">Back to Teacher List</a>
</div>
</body>
</html>
