<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/indexStyle.css}">

<head>
    <title>Teachers List</title>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/css/images/t.png}">
</head>
<body>
<div class="mainn">
    <a class="home" th:href="@{/mainIndex}">
        <img src="https://www.citypng.com/public/uploads/preview/house-line-white-icon-701751695034631kz76g1oajv.png">
    </a>
    <h2>
        Teachers
    </h2>
</div>


<div class="main">
    <a th:href="@{/teacher/new}">Add New Teacher</a>
    <table>
        <thead>
        <tr>
            <th>
                <a th:href="@{'/teachet'(sortField='id', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'})}">
                    ID <span th:if="${sortField == 'id'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/teacher'(sortField='name', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'})}">
                    Name <span th:if="${sortField == 'name'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                </a>
            </th>
            <th>Title</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="t : ${teachers}">
            <td th:text="${t.id}">Id</td>
            <td th:text="${t.name}">Name</td>
            <td th:text="${t.title}">Title</td>
            <td th:text="${t.department.name}">Dept</td>
            <td>
                <form th:action="@{'/teacher/' + ${t.id} + '/delete'}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <a th:href="@{'/teacher/' + ${t.id} + '/edit-teacher'}">
                    <button type="button">Edit</button>
                </a>
                <a th:href="@{'/teacher/' + ${t.id} + '/details'}">
                    <button type="button">Details</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>