<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Teacher</title>
</head>
<body>

<h1>Edit Teacher</h1>

<form th:action="@{'/staff/teacher/' + ${teacher.id} + '/update-teacher'}" method="post">

    <label>ID:</label>
    <input name="id" type="text" th:value="${teacher.id}" readonly/>

    <br/>

    <label>DepartmentID:</label>
    <input name="departmentId" type="text" th:value="${teacher.departmentId}" readonly/>

    <br/>

    <label>Name:</label>
    <input name="name" type="text" th:value="${teacher.name}" required/>

    <br/>

    <label>Title:</label>
    <input name="title" type="text" th:value="${teacher.title}" required/>

    <br/>




    <button type="submit">Save Changes</button>
</form>

<a th:href="@{/templates/teacher}">Back</a>

</body>
</html>
