<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/formStyle.css}">
<head>
    <title>Edit Teacher</title>
    <link rel="icon" th:href="@{/css/images/t.png}">
</head>
<body>

<h1>Edit Teacher</h1>
<div class="main">
    <div th:if="${errorMessage}" style="color: red; margin-bottom: 10px;">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{'/teacher/' + ${teacher.id} + '/update-teacher'}" method="post" th:object="${teacher}">

        <label>ID:</label>
        <input name="id" type="text" th:value="${teacher.id}" readonly/>

        <br/>

        <label>Department ID:</label>
        <input type="text"
               th:field="*{department.id}"
               placeholder="Enter Department ID">
        <span th:if="${#fields.hasErrors('department')}" th:errors="*{department}" style="color: red;"></span>
        <br/>

        <label>Name:</label>
        <input type="text" th:field="*{name}" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
        <br/>

        <label>Title:</label>
        <input type="text" th:field="*{title}" />
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red;"></span>
        <br/>

        <button type="submit">Save Changes</button>
    </form>

    <a th:href="@{/teacher}">Back</a>

</div>
</body>
</html>