<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/indexStyle.css}">

<head>
    <title>Teaching Assignments List</title>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/css/images/ta.png}">
</head>
<body>
<div class="mainn">
    <a class="home" th:href="@{/mainIndex#container}">
        <img src="https://www.citypng.com/public/uploads/preview/house-line-white-icon-701751695034631kz76g1oajv.png">
    </a>
    <h2>
        Teaching Assignments
    </h2>
</div>


<div class="main">
    <a th:href="@{/teachingassignment/new}">Add New Teaching Assignment</a>
    <table>
        <thead>
        <tr>
            <th>
                <a th:href="@{'/teachingassignment'(sortField='id', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'})}">
                    ID <span th:if="${sortField == 'id'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/teachingassignment'(sortField='course', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'})}">
                    Course <span th:if="${sortField == 'course'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                </a>
            </th>
            <th>Staff Member</th>
            <th>Managing Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ta : ${teachingassignments}">
            <td th:text="${ta.id}">Id</td>
            <td th:text="${ta.course.title}">CourseTitle</td>
            <td th:text="${ta.staff.name}">StaffName</td>
            <td th:text="${ta.managing}">ManagingRole</td>
            <td>
                <form th:action="@{'/teachingassignment/' + ${ta.id} + '/delete'}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <a th:href="@{'/teachingassignment/' + ${ta.id} + '/edit-teachingassignment'}">
                    <button type="button">Edit</button>
                </a>
                <a th:href="@{'/teachingassignment/' + ${ta.id} + '/details'}">
                    <button type="button">Details</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>