<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/formStyle.css}">
<head>
    <title>Edit Teachingassignment</title>
    <link rel="icon" th:href="@{/css/images/ta.png}">
</head>
<body>

<h1>Edit Teachingassignment</h1>
<div class="main">
    <div th:if="${errorMessage}" style="color: red; margin-bottom: 10px;">
        <p th:text="${errorMessage}"></p>
    </div>
    <form th:action="@{'/teachingassignment/' + ${teachingAssignment.id} + '/update-teachingassignment'}" method="post" th:object="${teachingAssignment}">

        <label>ID:</label>
        <input name="id" type="text" th:value="${teachingAssignment.id}" readonly/>

        <br/>

        <label>Course:</label>
        <select th:field="*{course}">
            <option value="">-- Select Course --</option>
            <option th:each="c : ${allCourses}" th:value="${c.id}" th:text="${c.title}"></option>
        </select>
        <br/>

        <label>Staff:</label>
        <select th:field="*{staff}">
            <option value="">-- Select Staff --</option>
            <option th:each="s : ${allTeachers}" th:value="${s.id}" th:text="${s.name}"></option>
            <option th:each="a : ${allAssistants}" th:value="${a.id}" th:text="${a.name}"></option>
        </select>
        <br/>


        <label>Managing:</label>
        <select th:field="*{managing}" >
            <option value="">-- Selectează Rolul --</option>
            <option th:each="role : ${T(com.example.UniversityManagementSystem.model.ManagingRole).values()}"
                    th:value="${role}"
                    th:text="${role}">
            </option>
        </select>
        <span th:if="${#fields.hasErrors('managing')}" th:errors="*{managing}" style="color: red;"></span>
        <br/>


        <button type="submit">Save Changes</button>
    </form>

    <a th:href="@{/teachingassignment}">Back</a>

</div>
</body>
</html>