html{
    background-color: #e8baf5;
    font-family: 'Courier New', monospace;
    color: black;

}
.home{
    border: none;
    margin-right:auto;
    margin-top:auto;
}


img{
    height: 50px;
    width: 50px;

}
.mainn{
    width: 100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
h2{
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
}

.main{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    flex-direction: column;
    position: relative;


}

table {
    border: 1px solid black;
    border-collapse: collapse;

}

th, td{
    font-size: 18px;
    height: 50px;
    width: 200px;
    border: 1px solid black;
}



a{
    text-decoration: none;
    color:black;
    font-size:20px;
    border:2px solid black;
    margin-bottom: 20px;
}
a:hover{
    text-decoration:none;
    color:grey;
}

button{
    font-size: 18px;
    text-decoration: none;
    border: none;
    background: none;
    width:200px;
    height: 50px;

}

button:hover{
    background:whitesmoke;
    cursor: pointer;
}



