html{
    background-image:radial-gradient(circle at center,rgba(0,0,0,0.7),black);
    font-family: 'Courier New', monospace;
    color: black;

}
.home{
    border: none;
    margin-right:auto;
    margin-top:auto;
}


img{
    height: 40px;
    width: 40px;

}
.mainn{
    width: 100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;


}
h2{
    font-size: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
}

.main{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    flex-direction: column;
    position: relative;


}

table {
    border-collapse: collapse;
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    color:whitesmoke;

}
td a{
    border:0;
    margin:5px;
    display: inline-block;
}

th, td{
    font-size: 18px;
    height: 50px;
    width: 200px;

}
td:nth-child(n+2):nth-last-child(n+2){
    font-size: 18px;
    height: 50px;
    width: 200px;
    border:1px solid black;

}

tr{
    border-bottom: 1px solid black;
}
tbody tr:last-child{
    border-bottom: none;
}

th:nth-child(n+2):nth-last-child(n+2){
    border-left: 1px solid black;
    border-right: 1px solid black;
}

a{
    text-decoration: none;
    color:whitesmoke;
    font-size:20px;
    margin: 30px;
}
a:nth-child(1):hover{
    text-decoration: none;
    color:whitesmoke;
    font-size:20px;
    border:2px solid whitesmoke;

}
a:hover{
    text-decoration: underline;
}
button{
    all:unset;
    color:whitesmoke;
}

button:hover{
    cursor: pointer;
    border:1px solid whitesmoke;
}
tr:last-child td:nth-child(n+2):nth-last-child(n+2) {
    border-bottom: none;
}
.filter-container {
    margin: 20px auto;
    width: 40%;
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
}
.filter-container form {
    display: inline-block;
}
.filter-container input, .filter-container select {
    padding: 5px;
    border-radius: 30px;
    border: 1px solid #ccc;
}
.filter-container button {
    padding: 5px 15px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 30px;
}
.filter-container a button:hover {
    background-color: #555;
    text-decoration: none;
}
.filter-container a button {
    background-color: #777;
}

