html{
    background-color: #e8baf5;
    font-family: 'Courier New', monospace;
    color: black;

}

.main{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    flex-direction: column;
    position: relative;
    padding-top: 100px;

}

table {
    border: 1px solid black;
    border-collapse: collapse;
    padding :100px 100px;
}

th, td{
    font-size: 18px;
    /*padding: 20px 100px;*/
    height: 50px;
    width: 200px;
    border: 1px solid black;
}


h1 {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    background-color: whitesmoke;
    margin: 0;
    position: fixed;
    top:0;
    left:0;
}
a{
    text-decoration: none;
    color:black;
    font-size:20px;
    border:2px solid black;
    margin-bottom: 20px;
}
a:hover{
    text-decoration:underline;
    color:grey;
}

button{
    font-size: 18px;
    text-decoration: none;
    border: none;
    background: none;
    width:200px;
    height: 50px;


}

button:hover{
    background:whitesmoke;
    cursor: pointer;
}



