<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/formStyle.css}">
<head>
    <title>Add Enrollment</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Add New Enrollment</h1>
<div class="main">
    <form th:action="@{/student/add-enrollment}" method="post" th:object="${enrollment}">
        <label>Enrollment ID:</label>
        <input type="text" th:field="*{id}" required><br><br>

        <label>Student ID:</label>
        <input type="text" th:field="*{studentId}" required><br><br>

        <label>Course ID:</label>
        <input type="text" th:field="*{courseId}" required><br><br>

        <label>Grade:</label>
        <input type="text" th:field="*{grade}"><br><br>

        <button type="submit">Save Enrollment</button>
    </form>

    <br>
    <a th:href="@{/student}">Back to Student List</a>
</div>
</body>
</html>
