<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Assistant</title>
</head>
<body>

<h1>Edit Assistant</h1>
<div class="main">
    <div th:if="${errorMessage}" style="color: red; margin-bottom: 10px;">
        <p th:text="${errorMessage}"></p>
    </div>
<form th:action="@{'/assistant/' + ${assistant.id} + '/update-assistant'}" method="post">

    <label>ID:</label>
    <input name="id" type="text" th:value="${assistant.id}" readonly/>

    <br/>

    <label>Name:</label>
    <input name="name" type="text" th:value="${assistant.name}" required/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
    <br/>

    <label>Role:</label>
    <select th:field="*{role}" required>
        <option value="">-- Selectează Rolul --</option>
        <option th:each="role : ${T(com.example.UniversityManagementSystem.model.AssistantRole).values()}" th:value="${role}" th:text="${role}" th:selected="${role == assistant.role}">

        </option>
    </select>
    <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" style="color: red;"></span> <br/>
    <br/>




    <button type="submit">Save Changes</button>
</form>

<a th:href="@{/assistant}">Back</a>

</div>

</body>
</html>
