<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/indexStyle.css}">

<head>
    <title>Assistants List</title>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/css/images/a.png}">
</head>
<body>
<div class="mainn">
    <a class="home" th:href="@{/mainIndex}">
    <img src="https://www.citypng.com/public/uploads/preview/house-line-white-icon-701751695034631kz76g1oajv.png">
    </a>
    <h2>
    Assistants
    </h2>
</div>

<div class="main">
    <div class="filter-container">
        <form th:action="@{/assistant}" method="get">
            <input type="hidden" name="sortField" th:value="${sortField}" />
            <input type="hidden" name="sortDir" th:value="${sortDir}" />

            <label>Name:</label>
            <input type="text" name="name" th:value="${name}" placeholder="Filter by name" />

            <label>Role:</label>
            <select name="role">
                <option value="">-- All Roles --</option>
                <option th:each="r : ${allRoles}"
                        th:value="${r}"
                        th:text="${r}"
                        th:selected="${r == roleParam}"></option>
            </select>

            <button type="submit">Filter</button>
            <a th:href="@{/assistant}"><button type="button" style="background-color: #777;">Clear</button></a>
        </form>
    </div>

    <a th:href="@{/assistant/new}">Add New Assistant</a>
    <table>
        <thead>
        <tr>
            <th>
                <a th:href="@{'/assistant'(sortField='id', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'},name=${name},role=${roleParam})}">
                    ID <span th:if="${sortField == 'id'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                </a>
            </th>

            <th>
                <a th:href="@{'/assistant'(sortField='name', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'},name=${name}, role=${roleParam})}">
                    Name <span th:if="${sortField == 'name'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                </a>
            </th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${assistants}">
            <td th:text="${a.id}">Id</td>
            <td th:text="${a.name}">Name</td>
            <td th:text="${a.role}">Role</td>
            <td>
                <form th:action="@{'/assistant/' + ${a.id} + '/delete'}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <a th:href="@{'/assistant/' + ${a.id} + '/edit-assistant'}">
                    <button type="button">Edit</button>
                </a>
                <a th:href="@{'/assistant/' + ${a.id} + '/details'}">
                    <button type="button">Details</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>